@charset "utf-8";

/* ==========================================================================
   Base styles
   ========================================================================== */

/*
 * Reset
 */

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: $text-color;
}

form {
  margin-top: 24px;
  margin-bottom: 24px;
}

form[enctype="multipart/form-data"] {
  padding: 16px;
  border: 1px solid $divider-color;
  background-color: $background-color;
}

label {
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}

input,
select {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px 8px;
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  color: $text-color;
  @include border-radius(3px);
}

input[type="submit"] {
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #F5F5F5;
}

input[type="checkbox"] {
  margin-right: 8px;
}

button {
  color: $text-color;
}

table {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  border: 1px solid $divider-color;
  white-space: nowrap;
}

th, td {
  padding: 8px;
  border: 1px solid $divider-color;
}

th {
  background-color: $background-color;
  text-align: left;
}

.fa {
  margin-right: 0.45em;
}
